
<div>
  <div>
    <h1>Orders</h1>
    <div>
      <div class="order-container" *ngFor="let order of orderList">
        <p class="order-date">{{ order.created | date: 'fullDate' }}</p>
        <p>Order id: {{ order.orderId }}</p>
        <p>Customer email: {{ order.createdBy }}</p>
        <p>Order sum: {{ order.totalPrice }} kr, paid with {{ order.paymentMethod }}.</p>
        <p class="order-status">Status: {{ order.status }}</p>
        <button (click)="deleteOrder(order.orderId)">Delete order</button>
      </div>
    </div>
  </div>
</div>
