.main-container {
  text-align: center;
  position: relative;

  .message-span {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 5vw;
    z-index: 200;

    a {
      text-decoration: none;
      letter-spacing: 2px;
      color: rgb(17, 116, 111);
      transition: all .3s ease-in-out;
    }

    a:hover {
      color: rgb(131, 204, 200);
      }
  }
}

span {

  img {
  width: 3.7%;
  filter: opacity(15%);
  }
}
