header {
  margin-bottom: 30px;
}

div {
  display: flex;
  justify-content: space-around;
  background-color: lightseagreen;
  letter-spacing: 2vh;
  font-size: 1.6vh;
  color: white;
  text-align: center;

  span{
    margin: auto;
  }
}

nav {

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 3vw;
    padding-left: 0px;

    a {
      text-decoration: none;
      text-transform: lowercase;
      letter-spacing: 6px;
      color: lightseagreen;
      transition: all .3s ease-in-out;
      margin-right: 20px;
    }

    a:hover {
      color: rgb(131, 204, 200);
      }

    a.active {
      text-decoration: underline;
      color: rgb(17, 116, 111);
    }
  }
}

footer {
  background-color: lightseagreen;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
}
