<!-- <app-movies></app-movies> -->


<header>
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="movies" routerLinkActive="active">Movies</a></li>
      <li><a routerLink="cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="checkout" routerLinkActive="active">Checkout</a></li>
      <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>MIN FOOTER</footer>
