ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  li{
    list-style: none;
    flex: 0 0 25%;
    margin-top: 5px;


    .movie-container:hover {
      transform: scale(1.2);
      color: rgb(28, 143, 137);
    }

    .movie-container {
      margin: 10px;
      text-align: center;
      padding: 10px;
      position: relative;
      font-size: 1.2vw;
      transition: all .3s ease-in-out;

      .movie-container a{
        text-decoration: none;
        color: red;
      }

      img {
        width: 70%;
        box-shadow: 5px 5px 25px rgb(74, 109, 107);
        border-radius: 2px;
      }

      button {
        background-color: lightcoral;
        border: none;
        border-radius: 2px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
        padding: 10px;
        font-weight: 600;
        font-size: 0.8rem;
        position: absolute;
        top: 10%;
        left: 70%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      button:hover {
        background-color: lightseagreen;
      }
    }
  }
}
