form {
  margin: 15% 10% 15% 10%;
  text-align: left;
  font-size: 1.4rem;
  width: 100%;

  label {
    margin-right: 5px;
  }

  .name, .email {
    margin-bottom: 10px;

    input {
      display: block;
      width: 80%;
    }

      .form-validation {
        color: red;
      }
  }

  .placeorder-btn-container {
  text-align: right;

     .place-order-btn {
       margin-top: 5%;
       background-color: lightseagreen;
       border: none;
       border-radius: 2px;
       box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
       margin-left: 6px;
       padding: 5px;
       font-weight: 600;
       font-size: 1.2rem;
       color: black;
       margin-right: 20%;
     }

     .place-order-btn:active {
       background-color:rgb(131, 204, 200);
     }
  }
}
