<form  [formGroup]="orderForm" (ngSubmit)="placeOrder()">
  <div class="checkout-userInfo">

    <div class="name">
      <label>Name:</label>
      <input type="text" id="customerName" formControlName="customerName"/>
    </div>
    <div *ngIf="customerName.touched && !customerName.valid">
      <div class="form-validation" *ngIf=" customerName.errors.required">
        Name is required.
      </div>
    </div>

    <div class="email">
      <label>Email:</label>
      <input type="email" formControlName="customerEmail"/>
    </div>

    <div *ngIf="customerEmail.touched && !customerEmail.valid">
      <div class="form-validation" *ngIf="customerEmail.errors.required">
        Email is required and must follow format: example@mail.com.
      </div>
    </div>
   </div>


  <div class="checkout-userPayment">
    <label>Payment method:</label>
    <div>
      <input type="radio" formControlName="customerPayment" value="Paypal" />
        Paypal
    </div>
    <div>
      <input type="radio" formControlName="customerPayment" value="Bitcoin" />
        Bitcoin
    </div>
    <div>
      <input type="radio" formControlName="customerPayment" value="Swish" />
        Swish
    </div>
  </div>


  <div class="placeorder-btn-container">
    <button class="place-order-btn" type="submit" [disabled]="!orderForm.valid">PLACE ORDER</button>
  </div>
</form>
