TJABBA KÖP NÅT




<!-- <form  [formGroup]="orderForm" (ngSubmit)="placeOrder()">
  <div class="checkout-userInfo">
    <label>Name:</label>
    <input type="text" formControlName="customerName"/>

    <label>Email:</label>
    <input type="email" formControlName="customerEmail"/>

    <div class="form-validation" *ngIf="customerEmail.touched && !customerEmail.valid">
      <div *ngIf="customerEmail.errors.required">
        Email is required
      </div>
    </div>
    <div class="validation-errors" *ngIf="customerName.touched && !customerName.valid">
      <div *ngIf="customerName.errors.required">
        Lastname is required.
      </div>
    </div>
  </div>


  <button type="submit" [disabled]="!orderForm.valid">BUY</button>
</form> -->


